.user-footer{

background-color: #605ca8 !important;

}
.btn-flat{

    background-color: #605ca8 !important;
    color: gainsboro !important;
}

.bg-style{

    background-color: #B0B0B0 !important;

}